certifi==2023.7.22
cffi==1.15.1
circuitbreaker==1.4.0
cryptography==41.0.4
oci==2.112.2
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pyOpenSSL==23.2.0
python-dateutil==2.8.2
python-ldap==3.4.3
pytz==2023.3.post1
six==1.16.0
